<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>

<Configuration status="ERROR" monitorInterval="3600" packages="com.test.flink">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <ThresholdFilter level="debug" onMatch="ACCEPT" onMismatch="DENY" />
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%-5p] -%m%n" />
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="org.springframework" level="WARN"></Logger>
        <Logger name="org.mybatis" level="WARN"></Logger>
        <Logger name="org.hibernate" level="WARN"></Logger>
        <Logger name="org.apache.hadoop" level="WARN"></Logger>
        <Logger name="org.apache.spark" level="WARN"></Logger>
        <Logger name="org.spark-project.jetty" level="WARN"></Logger>
        <Logger name="org.apache.jasper" level="WARN"></Logger>
        <Logger name="io.netty" level="WARN"></Logger>
        <Logger name="akka.event" level="WARN"></Logger>

        <Root level="debug"  includeLocation="true">
            <Appender-ref ref="Console" />
        </Root>
    </Loggers>
</Configuration>